<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit.xsd"
         failOnRisky="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Laravel Container Debug Test Suite">
            <directory>tests</directory>
            <file>tests/ServiceProviderTestCase.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
        <log type="coverage-html" target="coverage"/>
    </logging>
</phpunit>
